<%- include("partials/head") %>


    <%- include("partials/navbar") %>
    <h1>HI <%= 3 + 4 +5 %></h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, non autem natus ullam quaerat sint temporibus, atque odio iste cumque ut enim consequuntur maxime voluptates esse porro eos eaque voluptate.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quis qui fuga culpa nostrum facere, laboriosam itaque hic! Voluptate eum mollitia ad illo sit incidunt sequi debitis voluptatum aliquam delectus.</p>

<%- include("partials/footer")%>