<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add farm</title>
</head>
<body>
    <h1>Add a farm</h1>
    <form action="/farms" method="POST">
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="name">
        <label for="location"></label>
        <input type="text" name="location" id="location" placeholder="location">
        <button>Submit</button>
    </form>
    <a href="/farms">Cancel</a>
</body>
</html>