<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/farms/<%=id%>/products" method="POST">
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="name">
        <label for="price"></label>
        <input type="number" name="price" id="price" placeholder="price">
        <label for="category"></label>
        <select name="category" id="category">
            <% for(let category of categories) { %>
                <option value="<%=category%>"><%=category%></option>
            <% } %>
        </select>
        <label for="quantity"></label>
        <input type="number" name="quantity" id="quantity" placeholder="quantity">
        <button>Submit</button>
    </form>
    <a href="/products">Cancel</a>
</body>
</html>