<% layout('layouts/boilerplate')%>
    <h1>Index page</h1>
    <a href="/campgrounds/new">Add a campground</a>

    <% for(let campground of campgrounds) { %>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%=campground.image%>" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%=campground.name%></h5>
                        <p class="card-text"><%=campground.description%></p>
                        <p class="card-text">
                            <small class="text-muted"><%=campground.location%></small>
                        </p>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%=campground.name%></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
