<% layout('layouts/boilerplate')%>
    <h1>Add a new campground</h1>

    <form action="/campgrounds" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="campground[name]">
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]">
        <button>Submit</button>
    </form>

    <a href="/campgrounds">Cancel</a>